<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WITR 89.7 almost endless music logger</title>
    {#replace links with either nginx serving them or pulling from internet source#}
    <link rel="logger-css" type="text/css" href="{{ url_for('static', filename='logger/main.css') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='foundation/css/foundation.min.css') }}">
    <script rel="foundation-js" src="{{ url_for('static', filename='foundation/js/vendor/jquery.js') }}"></script>
    <script rel="foundation-js" src="{{ url_for('static', filename='logger/socket.io.min.js') }}"></script>
    <script rel="foundation-js" src="{{ url_for('static', filename='foundation/js/vendor/what-input.js') }}"></script>
    <script rel="foundation-js"
            src="{{ url_for('static', filename='foundation/js/vendor/foundation.min.js') }}"></script>
    {% if detailed == true %}
        <script>var detailed = true</script>
    {% else %}
        <script>var detailed = false</script>
    {% endif %}
    <script rel="foundation-js" src="{{ url_for('static', filename='logger/controls.js') }}"></script>
    <script rel="logger-js" src="{{ url_for('static', filename='logger/main.js') }}"></script>
</head>
<body>
<script> $(document).foundation(); </script>
<div class="grid-frame vertical">
    <div id="title" class="row">
        <div class="small-3 column"><a href="https://witr.rit.edu"><h1>WITR 89.7</h1></a></div>
        <div class="small-9 column"><h2 class="text-right">(Near) Endless Song Logger</h2></div>
    </div>
    <div class="row">
        <div class="small-3 small-offset-3 column">
            <input id='artistInput' class="input-group-field" type="text" placeholder="Artist">
        </div>
        <div class="small-3 column">
            <input id='titleInput' class="input-group-field" type="text" placeholder="Title">
        </div>
        <div class="small-3 column">
            <input id="Search" class="button" type="submit" value="Search">
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <table>
                <thead>
                <tr>
                    <th><h3>Artist</h3></th>
                    <th><h3>Title</h3></th>
                    <th><h3>Play Time</h3></th>
                    {% if detailed == true %}
                        <th><h3>RVNDL</h3></th>
                        <th><h3>Group</h3></th>
                        <th><h3>Requester</h3></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody id="logger_body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row align-center">
        <ul class="pagination" role="navigation" aria-label="Pagination">
            <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
            <li><a href="#" aria-label="Page 2">2</a></li>
            <li class="ellipsis" aria-hidden="true"></li>
            <li class="pagination-next"><a href="#" aria-label="Next page">Next <span
                    class="show-for-sr">page</span></a></li>
        </ul>
    </div>
</div>
</body>
</html>