<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WITR 89.7 almost endless music logger</title>
    {#Replace links with either nginx serving them or pulling from internet source#}
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='logger/main.css') }}"/>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='foundation/css/foundation.min.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='datetimepicker/css/foundation-datepicker.css') }}">
    <script src="{{ url_for('static', filename='foundation/js/vendor/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='foundation/js/vendor/what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='foundation/js/vendor/foundation.min.js') }}"></script>
    <script>var detailed = {% if detailed %}true{% else %}false{% endif %};</script>
    {#Controls and Main JS files must load after "detailed" variable is assigned#}
    <script src="{{ url_for('static', filename='logger/controls.js') }}"></script>
    <script src="{{ url_for('static', filename='logger/main.js') }}"></script>
    <script src="{{ url_for('static', filename='datetimepicker/js/foundation-datepicker.js')}}"></script>
</head>
<body>
<div class="grid-frame vertical">
    <div id="title" class="row">
        <div class="small-3 column"><a href="https://witr.rit.edu"><h1>WITR 89.7</h1></a></div>
        <div class="small-9 column"><h2 class="text-right">(Near) Endless Song Logger</h2></div>
    </div>
    <div class="row">
        {% if control %}
            <div class ="small-2 column">
            <input id="Search" class="success expanded button" type="submit" value="Search">
            </div>
        {% endif %}
        <div class="small-2 small-offset-4 column">
            <input id='artistInput' class="input-group-field" type="text" placeholder="Artist">
        </div>
        <div class="small-2 column">
            <input id='titleInput' class="input-group-field" type="text" placeholder="Title">
        </div>
        <div class="small-4 column">
            <table class="table">
	            <thead>
		            <tr>
			            <th>Start date&nbsp;
				            <a href="#" class="button tiny" id="startSelector" data-date-format="mm-dd-yyyy hh:ii" data-date="2012-02-20">Change</a>
			            </th>
			            <th>End date&nbsp;
				            <a href="#" class="button tiny" id="endSelector" data-date-format="mm-dd-yyyy hh:ii" data-date="2012-02-25">Change</a>
                        </th>
		            </tr>
	            </thead>
	                <tbody>
		                <tr>
			                <td id="startDate"></td>
			                <td id="endDate"></td>
		                </tr>
	                </tbody>
            </table>
            <div class="alert alert-box"  style="display:none;" id="alert"><strong>start date greater than end date</strong></div>
        </div>
        <script>
            //TODO make into its own file
            $(function(){
              // implementation of custom elements instead of inputs
                var startDate = new Date(2012, 1, 20);
                var endDate = new Date(2012, 1, 25);
                var startSelector = $('#startSelector');
                startSelector.fdatepicker({format: 'mm-dd-yyyy hh:ii', pickTime: true})
                    .on('changeDate', function (ev) {
                    if (ev.date.valueOf() > endDate.valueOf()) {
                        $('#alert').show().find('strong').text('The start date can not be greater then the end date');
                    } else {
                        $('#alert').hide();
                        startDate = new Date(ev.date);
                        $('#startDate').text(startSelector.data('date'));
                    }
                    startSelector.fdatepicker('hide');
                });
                var endSelector = $('#endSelector');
                endSelector.fdatepicker({format: 'mm-dd-yyyy hh:ii', pickTime: true})
                    .on('changeDate', function (ev) {
                    if (ev.date.valueOf() < startDate.valueOf()) {
                        $('#alert').show().find('strong').text('The end date can not be less then the start date');
                    } else {
                        $('#alert').hide();
                        endDate = new Date(ev.date);
                        $('#endDate').text(endSelector.data('date'));
                    }
                    endSelector.fdatepicker('hide');
                });
            });
        </script>
        <div class="small-2 column">
            <button id="Search" class="expanded button">Search</button>
            <script>$('#Search').click(search())</script>
        </div>
    </div>
    <div class="row">
        <div class="small-12 column">
            <table>
                <thead>
                <tr>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>Play Time</th>
                    {% if detailed == true %}
                        <th>Group</th>
                        <th>Requester</th>
                        <th colspan="3"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody id="logger_body">
                {% for track in tracks.items %}
                    <tr id='{{ track.id }}' class='track
                                {% if track.group.name == 'Feature' and detailed == true %}
                                    table-feature
                                {% elif track.group.name == 'New Bin' and detailed == true %}
                                    table-newbin
                                {% else %}
                                    table-library
                                {% endif %}
                    '>
                    <td class="artist">{{ track.artist }}</td>
                    <td class="title">{{ track.title }}</td>
                    <td class="time">{{ track.created_at }}</td>
                    {% if detailed == true %}
                        <td class="group"> {{ track.group.name }}</td>
                        <td class="requester">
                            {% if track.requester != None %}
                                {{ track.requester }}
                            {% endif %}
                        </td>
                        <td>
                            {% if track.rivendell %}
                                <button class='small radius rvdl button'>RVDL</button>
                            {% endif %}
                        </td>
                        {% if controller %}
                            <td>
                                <a class='warning small radius default button'>Edit</a>
                            </td>
                            <td>
                                <a class='alert small radius alert button'>Delete</a>
                            </td>
                        {% endif %}
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="small-12 column">
            <ul class="pagination" role="navigation" aria-label="Pagination">
                {% if tracks.has_prev %}
                    <li class="pagination-previous">
                        {% if detailed == true %}
                            <a href="{{ url_for("details", page=tracks.prev_num) }}"> Previous <span
                                    class="show-for-sr">page</span></a>
                        {% else %}
                            <a href="{{ url_for("index", page=tracks.prev_num) }}"> Previous <span
                                    class="show-for-sr">page</span></a>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
                {% endif %}

                {# Customize the amount of page numbers show with iter_pages parameters #}
                {% for page in tracks.iter_pages() %}
                    {% if page %}
                        {% if page != tracks.page %}
                            <li>
                                {% if detailed == true %}
                                    <a href="{{ url_for("details", page=page) }}"
                                       aria-label="Page {{ page }}">{{ page }}</a>
                                {% else %}
                                    <a href="{{ url_for("index", page=page) }}"
                                       aria-label="Page {{ page }}">{{ page }}</a>
                                {% endif %}
                            </li>
                        {% else %}
                            <li class="current"><span class="show-for-sr">You're on page</span> {{ page }}</li>
                        {% endif %}
                    {% else %}
                        <li class="ellipsis" aria-hidden="true"></li>
                    {% endif %}
                {%- endfor %}
                {% if tracks.has_next %}
                    <li class="pagination-next">
                        {% if detailed == true %}
                            <a href="{{ url_for("details", page=tracks.next_num) }}" aria-label="Next page">Next <span
                                    class="show-for-sr">page</span></a>
                        {% else %}
                            <a href="{{ url_for("index", page=tracks.next_num) }}" aria-label="Next page">Next <span
                                    class="show-for-sr">page</span></a>
                        {% endif %}
                    </li>
                {% else %}
                    <li class="pagination-next disabled">Previous <span class="show-for-sr">page</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<script>$(document).foundation();</script>
</body>
</html>