<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WITR 89.7 almost endless music logger</title>
    <!-- replace links with either nginx serving them or pulling from internet source -->
    <link rel="foundation-css" href="{{ url_for('static',  filename='foundation/css/app.css') }}">
    <link rel="foundation-css" href="{{ url_for('static',  filename='foundation/css/foundation.min.css') }}">
    <script rel="foundation-js" src="{{ url_for('static', filename='foundation/js/vendor/jquery.js') }}"></script>
    <script rel="foundation-js" src="{{ url_for('static', filename='logger/socket.io.min.js') }}"></script>

    <script rel="foundation-js"
            src="{{ url_for('static', filename='foundation/js/vendor/foundation.min.js') }}"></script>
    <script rel="foundation-js" src="{{ url_for('static', filename='foundation/js/app.js') }}"></script>
    <script rel="foundation-js" src="{{ url_for('static', filename='foundation/js/vendor/what-input.js') }}"></script>
    <script rel="foundation-js" src="{{ url_for('static', filename='logger/controls.js') }}"></script>
    <script rel="foundation-js" src="{{ url_for('static', filename='logger/main.js') }}"></script>
    <script rel="foundation-js" src="{{ url_for('static', filename='foundation/js/vendor/what-input.js') }}"></script>
</head>
<body>
<div id="header" class="row"><h1>WITR 89.7 (Near) Endless Song Logger</h1></div>
<div class="row">
    <div class="column"><h5>Time Played</h5></div>
    <div class="column"><h5>Artist</h5></div>
    <div class="column"><h5>Title</h5></div>
    <div class="column"><h5>Played</h5></div>
    {% if detailed== true %}
        <div class="column"><h5>rvdl</h5></div>
        <div class="column"><h5>group</h5></div>
    <div class="column"><h5>Request</h5></div>
    <div class="column"><h5>Requester</h5></div>
    {% endif %}
</div>
<!-- the tracks -->
<div class="row">
    <!-- pagination -->
</div>
</body>
</html>